.menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @media screen and (max-width: 992px) {
    order: -1;
    width: 100%;
    flex-grow: 0;
    padding-bottom: 10px;
    white-space: nowrap;
    overflow: scroll;
  }

  &__item {
    color: #212121;

    & + & {
      margin-inline-start: 10px;
    }
  }

  &__item-link {
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }

  &__item-submenu {

    @media screen and (min-width: 992px) {
      position: relative;
      padding-inline-end: 20px;
      cursor: pointer;
  
      &::after {
        content: '';
        position: absolute;
        top: calc(50% - 2px);
        right: 5px;
        border-top: 4px solid @primary-color;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
      }

      &:hover .submenu {
        display: block;
      }
    }
  }
  
  &__item-submenu-title {
    display: none;

    @media screen and (min-width: 992px) {
      display: block;
    }
  }
}

.submenu {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @media screen and (min-width: 992px) {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid @primary-color;
    border-radius: @border-tiny-radius;
    background-color: @background-secondary-color;
    display: none;
    padding: 10px 15px;
  }

  &__item {
    @media screen and (min-width: 992px) {
      margin-bottom: 5px;
    }

    & + & {
      @media screen and (max-width: 992px) {
        margin-inline-start: 10px;
      }
    }
  }

  &__item-link {
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }
}