.portfolio {
  margin-bottom: 30px;
  
  @media screen and (min-width: 992px) {
    padding: 0 50px;
    margin: 0 -50px;
    margin-bottom: 60px;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__description {
    margin: 0;
    max-width: 80%;
    font-weight: 500;
  }

  &__slider {
    position: relative;
  }
}

.portfolio-slider {
  position: relative;

  @media screen and (min-width: 1120px) {
    margin-bottom: 30px;
  }
}

.portfolio-slider-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 0 30px;

  @media screen and (min-width: 1120px) {
    margin: 0;
  }

  &__button {

    &--prev {
      left: -55px;
    }

    &--next {
      right: -55px;
    }
  }
}