.user {
  margin-inline-start: auto;

  @media screen and (max-width: 992px) {
    margin-inline-start: 10px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 30px);
    grid-gap: 5px;
    align-items: center;

    @media screen and (min-width: 992px) {
      grid-template-columns: 30px 1fr 1fr 1fr;
      grid-gap: 15px;
    }
  }

  &__address-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: @primary-text-color;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .icon {
      display: block;
      flex-grow: 0;
      width: 20px;
      height: 20px;

      @media screen and (min-width: 992px) {
        margin-inline-start: 5px;
      }
    }

    &--profile {
      position: relative;

      &:hover .user__item-submenu {
        display: block;
      }
    }

    &--cart {
      @media screen and (max-width: 992px) {
        position: relative;
      }
    }
  }

  &__item-text {
    @media screen and (max-width: 992px) {
      display: none;
    }
  }

  &__item-submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    padding: 10px;
    border: 2px solid #000;
    background-color: #eee;
    list-style: none; 
    white-space: nowrap;
  }

  &__item-submenu-link {
    color: @primary-text-color;

    &:hover {
      text-decoration: underline;
    }
  }

  &__counter {
    display: inline-block;
    position: absolute;
    margin-inline-start: 5px;
    top: 0;
    right: -5px;

    @media screen and (min-width: 992px) {
      position: relative;
      top: 10px;
    }
  }

  &__counter-count {
    background-color: #c4c4c4;
    color: @primary-text-color;
    text-align: center;
    border-radius: 50%;
    padding: 50% 0;
    width: 100%;
    position: absolute;
    transform: translateY(-50%);
  }

  &__counter-text {
    font-size: 14px;
    font-weight: 600;
    position: relative;
    padding: 0 6px;
    top: -.7em;
  }
}